<p style="margin:0;padding-top:20px;text-align:center;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:44pt;line-height:1.05;color:#3f3f3f;">Page of Contents</p>
<table style="width:100%;border-collapse:collapse;margin:26px 0 0;table-layout:fixed;text-align:center;">
  <tr style="vertical-align:top;">
    <td style="width:50%;padding:0 20px 0 0;">
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[1] &mdash; Article</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Headline here]</p>
      <p style="margin:0;font-size:12px;">&nbsp;</p>
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[2] &mdash; Puzzle</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Puzzle title here]</p>
      <p style="margin:0;font-size:12px;">&nbsp;</p>
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[3] &mdash; Poem</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Poem title here]</p>
      <p style="margin:0;font-size:12px;">&nbsp;</p>
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[4] &mdash; Graphic</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Artwork title here]</p>
      <p style="margin:0;font-size:12px;">&nbsp;</p>
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[5] &mdash; Interview</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Interviewee or topic]</p>
      <p style="margin:0;font-size:12px;">&nbsp;</p>
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[6] &mdash; Article</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Headline here]</p>
      <p style="margin:0;font-size:12px;">&nbsp;</p>
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[7] &mdash; Answers</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Answers to a puzzle]</p>
    </td>
    <td style="width:50%;padding:0 0 0 20px;border-left:1px solid #d9d3c9;">
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[8] &mdash; Graphic</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Artwork title here]</p>
      <p style="margin:0;font-size:12px;">&nbsp;</p>
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[9] &mdash; Article</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Headline here]</p>
      <p style="margin:0;font-size:12px;">&nbsp;</p>
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[10] &mdash; Puzzle</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Puzzle title here]</p>
      <p style="margin:0;font-size:12px;">&nbsp;</p>
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[11] &mdash; Poem</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Poem title here]</p>
      <p style="margin:0;font-size:12px;">&nbsp;</p>
      <p style="margin:0;font-family:'Franklin Gothic Heavy','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#3f3f3f;">[12] &mdash; Credits</p>
      <p style="margin:0;font-family:'Franklin Gothic Medium','Libre Franklin',Arial,sans-serif;font-size:18pt;line-height:1.25;color:#262626;">[Thank-you page]</p>
    </td>
  </tr>
</table>
